.menu{
    color:blue;

}
.container{
    border: 2px solid rgb(128, 77, 0);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    height: 100vh; /* Set container height to 100% of the viewport height */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items vertically */
    background-size:cover;
    background-position:center;
    background-image:url('image.jpg');
        } 
     #form{
        width:500px;
        margin:20vh auto 0 auto ;
        border-radius:5px;
        padding :20px;
        background-color:whitesmoke;
        margin-bottom: 150px;
     }
     #form button{
        background-color:rgb(0, 30, 255);
        border-radius:20px;
        text-align:center;
        color:white;
        cursor:pointer;
        width:100%;
        font-size:20px;
        height:50px;
     }   
     .inputgrp{
        display:flex;
      flex-direction:column;
      margin-bottom:15px;  
     }
     .inputgrp input{
        border-radius:5px;
        font-size:20px;
        margin-top:5px;
        padding:10px;
     }
     .inputgrp.success input{
          border-color:green;
     }
     .inputgrp.error input{
        border-color:red;
     }
     .inputgrp.error{
        color:#ff3860;
        font-size:9px;
        height:13px;
     }

     
